<div class="row">
  <div class="span12">
    <h3 class="page-title">
      Welcome to MightBuy for Business
      <%= link_to("logout", destroy_business_staff_session_path, method: :delete, :class=>"link-white") -%>
    </h3>
    <p class="sub-title">
      Please complete the profile information below to get started.
    </p>
    <div class="<%= verification_alert_class -%>">
      To ensure your Website Address/ Business URL is valid. Mightbuy Admin will verify it and get back to you soon.
    </div>
  </div>
</div>
<div class="row">
  <div class="span9 offset2">
    <div class="profile-form">
      <%= form_for(@business, :url => business_path) do |f| -%>
        <%= render :partial => "business_form", :locals => {:f => f} -%>
      <% end -%>
    </div>
  </div>
</div>
