<div class="container silhouette-bg">
  <div class="trapezoid-bg hidden-phone"></div>
  <div class="content signup">
    <div class="top-gradient"></div>
    <div class="row">
      <div class="login-form">
        <h2 class="logo signup">MightBuy.<span>for business</span></h2>
        <hr>
        <form action="">
          <fieldset>
            <div class="row-fluid">
              <div class="span6">
                <label>Full Name of User</label>
                <input type="text">
              </div>
              <div class="span6">
                <label>Business Name</label>
                <input type="text">
              </div>
            </div>
            <div class="row-fluid">
              <div class="span6">
                <label>Email</label>
                <input type="text">
              </div>
              <div class="span6">
                <label>Business URL</label>
                <input type="text">
              </div>
            </div>
            <div class="row-fluid">
              <div class="span6">
                <label>Password</label>
                <input type="text">
              </div>
              <div class="span6">
                <label>Phone number</label>
                <input type="text">
              </div>
            </div>
            <div class="row-fluid">
              <div class="span6">
                <label>Password Confirmation</label>
                <input type="text">
              </div>
              <div class="span6">
                <button class="btn btn-yellow w80 pull-right" type="submit" style="margin-top: 25px;">
                  Signup
                </button>
              </div>
            </div>
            <hr class="m-bot0">
          </fieldset>
        </form>
      </div>
    </div>
    <div class="footer">
      <div class="row-fluid">
        <div class="span6 b-right-dark">
          <div class="c-holder-left">
            <a href="forgot-password.html"> <span class="normal-font">Password recovery</span> <span class="tiny-font">You forgot your password?</span> </a>
          </div>
        </div>
        <div class="span6 b-right-light">
          <div class="c-holder-right">
            <a href="login.html"> <span class="normal-font">Sign In</span> <span class="tiny-font">Already a member, login here!</span> </a>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
