<div class="container silhouette-bg">
  <div class="trapezoid-bg hidden-phone"></div>
  <div class="content signup">
    <div class="top-gradient"></div>
    <div class="row">
      <div class="login-form">
        <h2 class="logo signup">MightBuy.<span>for business</span></h2>
        <hr>
        <%= form_for(@business_user, :url => businesses_path) do |f|-%>
          <%= render :partial => "signup_form", :locals => {:f => f} -%>
        <% end -%>
      </div>
    </div>
    <div class="footer">
      <div class="row-fluid">
        <div class="span6 b-right-dark">
          <div class="c-holder-left">
            <a href="forgot-password.html"> <span class="normal-font">Password recovery</span> <span class="tiny-font">You forgot your password?</span> </a>
          </div>
        </div>
        <div class="span6 b-right-light">
          <div class="c-holder-right">
            <a href="login.html"> <span class="normal-font">Sign In</span> <span class="tiny-font">Already a member, login here!</span> </a>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
