<div class="span9 bg-dark unevenheights account-profile">
  <h3 class="page-title align-right"> Profile Information </h3>
  <%= render partial: "business_form", locals: { action_url: update_profile_business_path } -%>
</div>
