<div class="span9 bg-dark unevenheights account-profile">
  <h3 class="page-title align-right"> Profile Information </h3>
  <%= form_for(@business, :url => update_profile_business_path) do |f| -%>
    <%= render :partial => "business_form", :locals => {:f => f} -%>
  <% end -%>
</div>
