<div class="row">
  <div class="span9 offset2">
    <div class="profile-form">
      <%= form_for(@business, :url => update_profile_business_path) do |f| -%>
        <%= render :partial => "business_form", :locals => {:f => f} -%>
      <% end -%>
    </div>
  </div>
</div>
