<div class="span9 bg-dark unevenheights">
  <h3 class="page-title align-right"> Dashboard </h3>
  <div class="dashboard-container">
    <div class="row-fluid">
      <!-- ------Column 1------------------------------------------------------------------------------------------------------------------------------------------------ -->
      <div class="span4">
        <div class="dash-count">
          <div class="dash-num">
            14<small>Products</small>
          </div>
        </div>
        <div class="dash-caption unevenheights-caption">
          &nbsp;
        </div>
        <div class="more-link">
          <a href="#" class="btn btn-danger"> <i class="icon-white icon-plus"></i> Add more </a>
        </div>
        <div class="value uneven-val">
          <div class="text-success min-height-val">
            $999,999.00 <small>Product value <i>?</i></small>
          </div>
        </div>
        <div class="changes">
          <span class="num">18</span>
          <span class="text"><b class="percent">%</b> Change<small>from last month</small></span>
          <span class="arrow-up">⬆</span>
          <span class="arrow-down hide">⬇</span>
        </div>
      </div>
      <!-- --------- Column 2--------------------------------------------------------------------------------------------------------------------------------------------- -->
      <div class="span4">
        <div class="dash-count">
          <div class="dash-num">
            12<small>People</small>
          </div>
        </div>
        <div class="dash-caption unevenheights-caption">
          Added your product to MighBuy.it
        </div>
        <div class="more-link">
          <a href="#" class="btn btn-danger"> <i class="icon-white icon-plus"></i> Invite more </a>
        </div>
        <div class="value uneven-val">
          <div class="min-height-val">
            4500 <small>Social Reach <i>?</i></small>
          </div>
          <hr/>
          <div class="min-height-val">
            311 <small>Page Views <i>?</i></small>
          </div>
          <hr/>
          <div class="min-height-val">
            27 <small>Votes + Referals <i>?</i></small>
          </div>
        </div>
        <div class="changes">
          <span class="num">18</span>
          <span class="text"><b class="percent">%</b> Change<small>from last month</small></span>
          <span class="arrow-up">⬆</span>
          <span class="arrow-down hide">⬇</span>
        </div>
      </div>
      <!-- -------- Column 3---------------------------------------------------------------------------------------------------------------------------------------------- -->
      <div class="span4">
        <div class="dash-count">
          <div class="dash-num">
            3<small>Leads</small>
          </div>
        </div>
        <div class="dash-caption unevenheights-caption">
          &nbsp;
        </div>
        <div class="more-link">
          <a href="#" class="btn btn-danger"> <i class="icon-white icon-plus"></i> Invite more </a>
        </div>
        <div class="value uneven-val">
          <div class="min-height-val">
            2 <small>Accepted</small>
          </div>
          <hr/>
          <div class="text-success min-height-val">
            $1400 <small>Closed Leads</small>
          </div>
        </div>
        <div class="changes">
          <span class="num">18</span>
          <span class="text"><b class="percent">%</b> Change<small>from last month</small></span>
          <span class="arrow-up">⬆</span>
          <span class="arrow-down hide">⬇</span>
        </div>
      </div>
      <!-- ---------Column 3 ends here--------------------------------------------------------------------------------------------------------------------------------------------- -->
    </div>
  </div>
</div>