<!-- AddThis Button BEGIN -->
<div class="addthis_toolbox addthis_default_style addthis_32x32_style">
  <a class="addthis_button_preferred_1"></a>
  <a class="addthis_button_preferred_2"></a>
</div>
<script type="text/javascript">
  var addthis_config = {"data_track_addressbar":false, "services_expanded":"twitter,facebook"};
  var addthis_share = {"url": "<%= @lead_invite.topic_url %>", "title": "<%= @lead_invite.topic_url %>" };
</script>
<script type="text/javascript" src="http://s7.addthis.com/js/300/addthis_widget.js#pubid=ra-50aa1e80249de8c1"></script>
<!-- AddThis Button END -->
