<div class="span9 bg-dark unevenheights">
  <h3 class="page-title align-right">Potential customers invited through MightBuy</h3>

  <div class="table-container">
    <div class="table-header clearfix">
      <ul class="nav nav-tabs">
        <li>
          <a href="#profile" data-toggle="tab">All Leads</a>
        </li>
        <li class="active">
          <a href="#home" data-toggle="tab">Web</a>
        </li>
        <li>
          <a href="#profile" data-toggle="tab">In Store</a>
        </li>
      </ul>
      <div class="title">
        Customers Leads
      </div>
    </div>
    <table class="table">
      <tr>
        <th>Accepted</th>
        <th>Email</th>
        <th>Name</th>
        <th>Product</th>
        <th>Status</th>
        <th>Edit/Delete</th>
      </tr>
      <tr>
        <td><i class="icon-ok m-right5"></i><a href="#">view</a></td>
        <td><a href="#">ryanloper@gmail.com</a></td>
        <td>Ryan Loper</td>
        <td><a href="#">view</a></td>
        <td>Accepted</td>
        <td>
          <button class="btn btn-mini">
            <i class="icon-pencil"></i>
          </button>
          <button class="btn btn-mini btn-danger">
            <i class="icon-remove icon-white"></i>
          </button>
        </td>
      </tr>
      <tr>
        <td><i class="icon-remove"></i></td>
        <td><a href="#">ryanloper@gmail.com</a></td>
        <td>Ryan Loper</td>
        <td><a href="#">view</a></td>
        <td>Sent</td>
        <td>
          <button class="btn btn-mini">
            <i class="icon-pencil"></i>
          </button>
          <button class="btn btn-mini btn-danger">
            <i class="icon-remove icon-white"></i>
          </button>
        </td>
      </tr>
      <tr>
        <td colspan="6" class="add-deal">
          <form class="form-horizontal clearfix">
            <div class="pull-left m-top10">
              <img class="m-right20" src="img/no-image.gif"/>
            </div>
            <div class="pull-left">
              <h4><span class="remove-bold">Mike Kelly</span></h4>
              <a href="#">View Profile</a>

              <div class="clearfix m-top10">
                <label class="label-mini">Product:</label>

                <div class="pull-left mLeft10">
                  Ipad
                </div>
                <br clear="all"/>
                <label class="label-mini">Price:</label>

                <div class="pull-left mLeft10">
                  $499
                </div>
                <br clear="all"/>
                <label class="label-mini">URL:</label>
                <input class="span3" type="text">
                <br clear="all"/>
                <label class="label-mini">&nbsp</label>

                <div class="pull-left m-top10">
                  <button class="btn btn-danger">
                    Resend
                  </button>
                  <button class="btn btn-danger m-left5">
                    Cancel
                  </button>
                </div>
              </div>
            </div>
          </form>
        </td>
      </tr>
      <tr>
        <td><i class="icon-remove"></i></td>
        <td><a href="#">ryanloper@gmail.com</a></td>
        <td>Ryan Loper</td>
        <td><a href="#">view</a></td>
        <td>Open</td>
        <td>
          <button class="btn btn-mini">
            <i class="icon-pencil"></i>
          </button>
          <button class="btn btn-mini btn-danger">
            <i class="icon-remove icon-white"></i>
          </button>
        </td>
      </tr>
      <tr>
        <td><i class="icon-remove"></i></td>
        <td><a href="#">ryanloper@gmail.com</a></td>
        <td>Ryan Loper</td>
        <td><a href="#">view</a></td>
        <td><b>Unsent</b></td>
        <td>
          <button class="btn btn-mini">
            <i class="icon-pencil"></i>
          </button>
          <button class="btn btn-mini btn-danger">
            <i class="icon-remove icon-white"></i>
          </button>
        </td>
      </tr>
    </table>
    <div class="table-footer clearfix">
      <div class="pull-left m-left5 m-top5">
        Download: <a href="#">CSV</a>
      </div>
      <div class="pagination pagination-right">
        <ul>
          <li class="disabled no-style">
            <a href="#">&laquo; First</a>
          </li>
          <li class="disabled no-style">
            <a href="#">&laquo; Prevoius</a>
          </li>
          <li class="active">
            <a href="#">1</a>
          </li>
          <li>
            <a href="#">2</a>
          </li>
          <li>
            <a href="#">3</a>
          </li>
          <li>
            <a href="#">4</a>
          </li>
          <li>
            <a href="#">5</a>
          </li>
          <li class=" no-style">
            <a href="#">Next &raquo;</a>
          </li>
          <li class=" no-style">
            <a href="#">Last &raquo;</a>
          </li>
        </ul>
      </div>
    </div>
  </div>
</div>