<div class="span9 bg-dark unevenheights">
  <h3 class="page-title align-right">Potential customers invited through MightBuy</h3>

  <div class="table-container">
    <div class="table-header clearfix">
      <ul class="nav nav-tabs">
        <li>
          <a href="#profile" data-toggle="tab">All Leads</a>
        </li>
        <li class="active">
          <a href="#home" data-toggle="tab">Web</a>
        </li>
        <li>
          <a href="#profile" data-toggle="tab">In Store</a>
        </li>
      </ul>
      <div class="title">
        Customers Leads
      </div>
    </div>
    <table class="table">
      <tr>
        <th>Registered On</th>
        <th>Name</th>
        <th>Email</th>
        <th>Product</th>
        <th>Status</th>
        <th>Edit/Delete</th>
      </tr>
      <%- @leads.each do |lead| -%>
        <tr id="lead-entry-<%= lead.id -%>">
          <%= render partial: "lead_entry", locals: { lead: lead } -%>
        </tr>
      <% end -%>
    </table>
    <div class="table-footer clearfix">
      <div class="pull-left m-left5 m-top5">
        Download: <a href="#">CSV</a>
      </div>
      <div class="pagination pagination-right">
        <%= paginate @leads, :theme => 'mightbuy_theme' -%>
      </div>
    </div>
  </div>
</div>
