<div id="container_middle">
	<div class="text_div">
		<h1>Mightbuy Retail</h1>
		<p>
          MightBuy Retail helps convert offline, in person shoppers into online buyers and advertisers for your brand. Our unique mobile shopping tool increases the productivity of every salesperson. It only takes 60 seconds to see how it works.
		</p>
		<br>
		<h1>Social Ad Unit</h1>
		<p>
          MightBuy Social Ad unit allows you harness the power of your own fan community that you have built on email lists, FaceBook, and Twitter. Using MightBuy, you can incentivize sharing with discounts, contests, and close more sales.  For a limited time, available for FREE for beta testing. Sign Up now for more info!
		</p>
		<br>
		<h1>MightBuy.it</h1>
		<p>Our growing community of social shoppers, anybody can use www.mightbuy.it to track things they "MightBuy"</a>
	</div>
    <div class="slider_video">
         <div id="intro_vid_retail">
               <a  class="introVidRetail" href="#video"><img src="/assets/video-image_mod1.png	" class="mtop30" width="467" height="816" alt="" />  </a>
         </div>
     <h1 style="text-align:center;"><a style="text-decoration:underline" href="/business/new">SIGN UP HERE</a>
	</div>

    	

	
	
	<div id="container_bottom"></div>
	<div style="clear:both;"></div>	        
</div>
		

