<div id="container_middle">
	<div class="text_div">
		<h1>Mightbuy Retail</h1>
		<p>
          MightBuy Retail helps increase sales from customers who walk out of your store everyday without buying
		</p>
		<br>
		<br>
		<h1>MightBuy Digital</h2>
		<p>
			MightBuy for business combines the power
			of social networking with advertising
			to increase traffic and drive sales with the most
			infulencial marketing, word of mouth.
		</p>
	</div>
 <div class="col-video">
      <div id="intro_vid_retail">

      </div>
         <a  class="introVidRetail" href="#video"><img src="/assets/video-image.png" class="mtop30" width="467" height="316" alt="" />  </a>
    </div>

	<div id="container_bottom"></div>
	<div style="clear:both;"></div>
</div>

