
<div id="content_middle">
	<div class="text_div">
		<h1>Company Info</h1>
		<p>MightBuy.it and business.mightbuy.it are owned by Prizzm, Inc  </p>
	    <p><strong> Email:</strong> <%= mail_to "contact@prizzm.com" -%> </p>
		<p><strong> Call: +1 (415) 577-3411</strong> </p>
		<p><strong>653 5th Avenue <br />San Francisco, CA 94118</strong> </p>

		<h1>Other sites:</h1>
		<p>Not a Business? Mightbuy.it is used by a growing customer base to track anything, from any business. <a href="www.mightbuy.it">MightBuy.it</a></p>
	</div>
	<div class="text_right">
		<h1>Job Openings</h1>
		<h3>Front End/Designer</h3>
		<p>We have a stack that is mostly Ruby on Rails, using CSS, some HAML, ERB typical amounts of JavaScript.  As a front end developer, you should love what's happening in the browser these days, but design focused, be able to kick around Adobe CS like nobodies business. You know GIT (don't need to love it..), and when your designs go from photoshop to the site you don't a "developer" to make it happen.  As we develop for mobile devices with HTML5 mostly instead of Native </p>
		<h3>Architect/FullStack</h3>
		<p>We are Ruby on Rails 3, Node.js shop.  You should want to move us off Heroku, because you've seen sites scale so much faster and cheaper on Amazon.  Your javascript and HTML is fine, it's just that you prefer scaling a system. We use Pull Requests for all commits, and your a bit of a Na.. hard ass on code quality.  But of course, you play nice with others. </p>
		<h3>Product Manager</h3>
		<p>Do you love to shop? Social Media Queen? Really understand retail sales environments? Always up today with latest fashion news, and deals?  Passion for turning product ideas into reality, building communtiy?   Our fast growing user base on MightBuy.it needs a champion to make shopping more social than forever, and feedback to companies better, more open, and more profitable. </p>
		<p> </p>
	</div>

	<div id="container_bottom"></div>
	<div style="clear:both;"></div>
</div>
