<div id="content_middle">
    <div class="text_div">
        <h1>White Text Header</h1>
        <p>
            MightBuy for business combines the power
            of social networking with advertising
            to increase traffic and drive sales with the most
            infulencial marketing, word of mouth.
        </p>
    </div>
    <div class="slider_video">

        <img src="assets/video_image.png" alt="Video" />
        <div class="navigation-arrows">
            <img src="assets/arrow_left.png" alt=""  />
            <img src="assets/arrow_right.png" alt="" />
        </div>
    </div>

    <div id="container_bottom"></div>
    <div style="clear:both;"></div>
</div>

