<h2>Hi <%= @lead_invite.name -%>,</h2>

<p>
  <%= @lead_invite.message -%>
</p>

<p>
  You can track the item you wished to purchase on,
  <%= link_to("Mightbuy.it",@lead_invite.lead_url) -%>.
</p>

<p>
  Happy Buying - Mightbuy Team
</p>
