<h2>Hi <%= @lead.name -%>,</h2>

<p>
  Recently you have visited <%= @lead.business.name -%> for buying products.
  You can register at <%= link_to "Mightbuy.it", "Mightbuy.it" -%>, and
  manage your purchase wishlist.
</p>

<p>
  Happy Buying - Mightbuy Team
</p>
