<div class="span9 bg-dark unevenheights">
  <h3 class="page-title align-right"> Business Staffs</h3>

  <div class="table-container users-info">
    <div class="table-header clearfix">
      <button class="btn btn-small btn-danger pull-right add-staff-button">
        Add new
      </button>
      <div class="title">
        Users
      </div>
    </div>

    <table class="table">
      <tr class="add-staff-row hide">
        <%= render :partial => "add_new_staff" -%>
      </tr>
      <tr>
        <th>Name</th>
        <th> Email </th>
      </tr>
      <% @business_staffs.each do |business_staff| -%>
        <tr>
          <td>
            <%= business_staff.name -%>
          </td>
          <td>
            <%= business_staff.email -%>
          </td>
        </tr>
      <% end -%>
    </table>
    <div class="table-footer clearfix">
      <%= paginate @business_staffs, :theme => 'mightbuy_theme' -%>
    </div>
  </div>
</div>

