<div>
  <input id="business_urls_domain" name="business_urls[domain]" size="30" type="text" />
  <a href="javascript:void(0);" class="btn btn-yellow btn-add less-url">
    <i class="icon-minus"></i>
  </a>
</div>

