<div>
  <input id="business_business_urls_attributes_<%= counter %>_domain" name="business[business_urls_attributes][<%= counter %>][domain]" size="30" type="text" />
  <a href="javascript:void(0);" class="btn btn-yellow btn-add less-url">
    <i class="icon-minus"></i>
  </a>
</div>

