<tr id="lead-edit-entry">
  <td colspan="6" class="add-deal">
    <form class="form-horizontal" method="put" action="/leads" accept-charset="UTF-8" data-remote="true">
    <form class="form-horizontal clearfix">
      <div class="pull-left m-top10">
        <img class="m-right20" src="/assets/no-image.gif"/>
      </div>
      <div class="pull-left">
        <h4><span class="remove-bold">Mike Kelly</span></h4>
        <a href="#">View Profile</a>

        <div class="clearfix m-top10">
          <label class="label-mini">Product:</label>

          <div class="pull-left mLeft10">
            Ipad
          </div>
          <br clear="all"/>
          <label class="label-mini">Price:</label>

          <div class="pull-left mLeft10">
            $499
          </div>
          <br clear="all"/>
          <label class="label-mini">URL:</label>
          <input class="span3" type="text">
          <br clear="all"/>
          <label class="label-mini">&nbsp</label>

          <div class="pull-left m-top10">
            <button class="btn btn-danger">
              Resend
            </button>
            <button class="btn btn-danger m-left5">
              Cancel
            </button>
          </div>
        </div>
      </div>
    </form>
  </td>
</tr>
