body{ background:#000000; margin:0px; padding:0px; font-family:"Times New Roman", Times, serif; font-size:15px;}

#wraper{ background:url(background_wraper.jpg); }
#container{ width:890px; margin:0px auto; }
#header{width:100%; float: left; background:url(background_image.png) no-repeat;}
.main_logo{ margin-top:20px;}
.menu ul{list-style-type:none;margin:0px auto;padding:0;overflow:hidden;width:65%;height:25px;}
.menu li{float:left;}
.menu a{display:block;color:#FFFFFF;border-right:1px solid #000000;text-decoration:none;}
.menu a.last { border: none;}
.last{ border:0px !important;}
#content_middle{ color: #FFFFFF; width: 99%; float: left; background: #660303; border-radius:10px;}
#container_bottom{width: auto; background:url(background_image.png) no-repeat; float:left;}
#footer ul { width: 80%;}
#footer{float:left; width:100%; height:150px; margin-top:20px;}
a:hover{ text-decoration:underline;}
.text_bottom{width:95%;text-align:center; padding:30px;}
.slider_video { text-align: center;}
