// Place all the styles related to the businesses controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
.markItUpEditor {
  background: none;
  padding: 5px 5px 5px 11px;
}

.markdown .markItUpEditor {
  background: none;
}
  