// Place all the styles related to the welcome controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

@import "mixin";

.container {

  &>.content {
    position:relative;
    width: 340px;
    margin: 15% auto 0 auto;
    background: #610303;
    border:5px solid #fff;
    @include border-radius(10px 10px 10px 10px);
    @include box-shadow(0 1px 2px rgba(0,0,0,.15));
    overflow: hidden;
    z-index: 1;
    
    &::after {
      content: "";
      z-index: 0;
      width: 150%;
      position:absolute;
      top:0;
      left: -25%;
      right: 0;
      height: 150px;
      background: #650304;/* Old browsers */
      background: -moz-radial-gradient(top, ellipse cover,  #c79191 0%, #650304 60%); /* FF3.6+ */
      background: -webkit-gradient(radial, top center, 0px, center center, 100%, color-stop(0%,#c79191), color-stop(60%,#650304)); /* Chrome,Safari4+ */
      background: -webkit-radial-gradient(top, ellipse cover,  #C79191 0%,#650304 60%); /* Chrome10+,Safari5.1+ */
      background: -o-radial-gradient(top, ellipse cover,  #c79191 0%,#650304 60%); /* Opera 12+ */
      background: -ms-radial-gradient(top, ellipse cover,  #c79191 0%,#650304 60%); /* IE10+ */
      background: radial-gradient(ellipse at top,  #c79191 0%,#650304 60%); /* W3C */
      filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#c79191', endColorstr='#650304',GradientType=1 ); /* IE6-9 fallback on horizontal gradient */
      background-repeat: no-repeat;
      background-position: top center;
    }
  }
  &>.content.signup {
    width:650px;
    margin-top:7%;
  }
}
.login-form {
  padding: 33px 33px 0 33px;
  margin-left: 20px;
  position: relative;
  z-index: 1;
}

h2.logo-business{
  font-family: "Museo500", Arial, Helvetica, sans-serif;
  font-size: 54px;
  font-weight: normal;
  color:#fff;
  margin-top: 15px;
  margin-left: 40px;
  position: relative;
  line-height: 100%;
  
  span{
    font-family: "Museo300", Arial, Helvetica, sans-serif;
    position: absolute;
    font-size: 22px;
    top: 31px;
    left: 91px;
  }
}
h2.logo{
  @extend h2.logo-business;
  font-size: 60px;
  margin-top: 0;
  margin-left: 0;
  
  span{
    font-family: "Museo300", Arial, Helvetica, sans-serif;
    position: absolute;
    font-size: 24px;
    top: 33px;
    left: 101px;
  }
}
h2.logo.signup{
  margin:0 auto;
  text-align: center;
  
  span{
    left: 253px;
  }
}
.signup .btn-yellow.w80{
  margin-top: 25px;
  margin-right: 12px;
}
legend.gray {
  margin-right: -50px;
  font-weight: bold;
  color: #404040;
}
legend.signup {
  color:#fff;
  font-weight:normal;
  text-align: left;
  border-bottom-color: rgba(0, 0, 0, 0.20);
  box-shadow:0 1px 0 0 rgba(255, 255, 255, 0.10);
}
hr{
  border-top-color: rgba(0, 0, 0, 0.20);
  border-bottom-color: rgba(255, 255, 255, 0.10);
}
input[type="text"], input[type="password"], input[type="email"]{
  width:260px;
}
.b-right-dark{
  border-right:1px solid rgba(0, 0, 0, 0.20);
}
.b-right-dark a, .b-right-light a{
  display:block;
}
.row-fluid .span6.b-right-light{
  border-left:1px solid  rgba(255, 255, 255, 0.10);
  margin:0;
}
a{
  color:#fff;
  
  .normal-font{
    color:#fff;
    font-size:14px;
    display:block;
  }
  .tiny-font{
    color:#ab797a;
    font-size:10px;
    font-family: Tahoma;
  }
  &:hover{
    text-decoration:none;
      
    .normal-font{
      color:yellow
    }
  }
  &:active{
    .normal-font{
      color:orange
    }
  }
}
.c-holder-left{
  min-height: 30px;
  padding-top: 5px;
  padding-bottom: 5px;
  padding-left: 10px;
}
.c-holder-right{
  @extend .c-holder-left;
  padding-left: 20px;
}
.c-holder-center {
  padding-top: 5px;	
  text-align:center;
}
.footer{
  padding: 0 13px 20px 20px
}
.trapezoid-bg{
  background: image-url('trapezoid-bg.png') no-repeat center top;
  width: 100%;
  height: 540px;
  position: absolute;
  z-index: 0;
  top: 193px;
}
hr.m-bot0{
 margin-bottom:0; 
}
.c-holder-left.pleft5{
  padding-left: 5px;
}
.trapezoid-bg.forgot{
  top: 165px;
}
.fill-bg{background:#ccc}
p.error_notification, span.error{
  color:yellow;
}
