/* Large desktop */
@import 'mixin';
@media (min-width: 1024px) {

  #wraper{
    width: 960px;
    margin: 0 auto;
  }

  .container_middle{
    padding: 0 35px;
    width: auto;
    h1 { font-size: 30px;}
    h3 {font-size: 25px;}
    p { font-size: 13px; }
  }

  #content_middle {
    border: 5px solid #FFFFFF;
  }

  .container-middle {
    width: 890px;
    margin: 0 auto;
  }

  .menu {
    margin: 25px 0;
    a { font-size: 23px; padding: 0 20px;}
  }

  .text_div {
    width: 42%;
    padding: 30px;
    text-align: left;
    float: left;
  }

  .slider_video, .text_right {
    float: left; margin: 30px 0; width: 50%;
  }


  #container_middle{
    margin: 0 10px;
    width: auto;
  }
  .container > .content-new {
    .form-button, .hr-width{
      width: 285px;
    }
  }
  .user-info {
    padding-right:0;
  }
  .form-horizontal{
    .controls {
      margin-left: 320px;
    }
    .control-label {
      width: 300px;
    }
  }
  .menu-title, .other-menus {
    width: 260px;
  }
  .nav-list {
    width: 290px;
  }
  .btn-yellow.w274, input[type="submit"].btn-yellow.w274{
    min-width: 284px;
  }
  .trapezoid-bg {
    top: 230px;

    &.forgot{
      top: 195px;
    }
  }
  input[type="text"], input[type="password"], input[type="email"] {
    width: 270px;
  }
  .signup .btn-yellow.w80 {
    margin-right: 6px;
  }
  h2.logo.signup span {
    left: 257px;
  }
  .account-profile{
    input[type="text"], input[type="password"], textarea {
      width: 300px;
    }
  }
  .saving-loader{
    top: 45%;
    left: 47.3%;
  }
}
/* ------------------------------------------------------------------------------------------------------------------------------------------------------ */
/* Portrait tablet to landscape and desktop */
@media (min-width: 768px) and (max-width: 1024px) {

  #wraper{
    width: 768px;
    margin: 0 auto;
  }

  .container_middle{
    padding: 0 25px;
    width: auto;
    h1 { font-size: 30px;}
    h3 {font-size: 25px;}
    p { font-size:  13px;}
  }

  #content_middle {
    border: 4px solid #FFFFFF;
  }

  .container { width: auto;}
  .container-middle {
    width: 724px;
    margin: 0 auto;
  }

  .menu {
    margin: 20px 0;
    a { font-size: 20px; padding: 0 20px;}
  }
  .text_div {
    width: 42%;
    padding: 25px;
    text-align: left;
    float: left;
  }

  .slider_video, .text_right{
    float: left; margin: 30px 0; width: 50%;
  }


  .profile-form{
    margin-left: -30px;

    input[type="text"], input[type="password"], textarea {
      width: 175px;
    }
  }
  .account-profile{
    input[type="text"], input[type="password"], textarea {
      width: 175px;
    }
  }
  .customer-name, .user-info {
    padding-right:0;
  }
  .menu-title, .other-menus{
    width:147px;
  }
  .nav-list {
    width: 177px;
  }
  .table-container {
    padding: 10px 10px 15px 10px;
  }
  .form-horizontal{
    .controls {
      margin-left: 200px;
    }
    .control-label {
      width: 180px;
    }
  }
  .trapezoid-bg {
    top: 380px;
  }
  .signup .btn-yellow.w80 {
    margin-right: 10px;
  }
  .trapezoid-bg.forgot{
    top: 350px;
  }
  .container {
    &>.content {
      margin: 45% auto 0 auto;
    }
    &>.content.signup{
      margin: 35% auto 0 auto;
    }
  }
  input[type="email"] {
    width:260px;
  }
  .dash-num {
    padding-top: 30px;
    font-size: 55px;
  }
  .value{
    font-size: 25px;

    small {
      font-size: 14px;
    }
  }
  .changes {
    width: auto;

    span.num {
      margin-right: 5px;
      font-size: 35px;
    }
    b.percent {
      font-size: 14px;
    }
    span.text {
      width: 75px;
      line-height: 100%;
      margin-top: 5px;
      font-size:14px;
      text-align:left;
    }
    small {
      font-size:10px;
    }
    .arrow-up, .arrow-down{
      font-size: 35px;
      width: 30px;
    }
  }
  .saving-loader{
    top: 45%;
    left: 44%;
  }
}
/* ------------------------------------------------------------------------------------------------------------------------------------------------------ */
/* Landscape phone to portrait tablet */
@media (max-width: 768px) {

  .wrap{
    padding: 0;
  }

  #wraper{
    width: 482px;
    margin: 0 auto;
  }

  .container_middle{
    padding: 0 15px;
    width: auto;
    h1 {font-size: 23px;}
    h3 {font-size: 18px;}
    p {font-size: 13px;}
  }

  .container { width: auto;}
  .container-middle {
    width: 450px;
    margin: 0 auto;
  }

  #content_middle {
    border: 3px solid #FFFFFF;
  }
  .menu {
    margin: 15px 0;
    a { font-size: 15px; padding: 0 15px;}
  }
  .text_div {
    padding: 20px;
    text-align: left;
  }
  .text_right {
    padding: 20px;
    text-align: left;
  }

  .slider_video {
    padding: 20px;
  }



  .container .social-ad, .container >.content-new {
    width: 400px;
  }
  .photo-upload #fileselectbutton{
    float:none;
  }
  .min-height-val{
    min-height:52px;
  }
  .hr-vertical {
    border-left: none;
    border-right: none;
    border-top: 1px solid rgba(0, 0, 0, 0.25);
    border-bottom: 1px solid rgba(255, 255, 255, 0.25);
    margin: 20px 0 20px 50px;
    position: relative;
    height: auto;
    float: left;
    width:450px;
  }
  .col-form, .hr-vertical, .col-video{
    margin: 0 auto;
    width: 70%;
    float: none;
    h1 { font-size: 30px;}
  }

  .foot-links{
    margin-bottom:20px;
  }
}
/* ------------------------------------------------------------------------------------------------------------------------------------------------------ */
/* Landscape phones and down */
@media (max-width: 480px) {

  .wrap{
    padding: 0;
  }

  #wraper{
    width: 320px;
    margin: 0 auto;
  }

  .container_middle{
    padding: 0 10px;
    width: auto;
    h1 { font-size: 20px;}
    h3 {font-size: 16px;}
    p { font-size: 12px;}
  }

  .container { width: auto;}
  .container-middle {
    width: 300px;
    margin: 0 auto;
  }

  #content_middle {
    border: 2px solid #FFFFFF;
  }
  .menu {
    margin: 10px 0;
    a { font-size: 12px; padding: 0 6px; }
  }
  .text_div {
    padding: 15px;
    text-align: left;
  }

  .text_right {
    padding: 15px;
    text-align: left;
  }

  .slider_video {
    padding: 20px;
    line-height: 0;
  }

  .container .social-ad, .container >.content-new {
    width: auto;
  }
  .header {
    background:#222;
    min-height: 100px;
    height: auto;
    position:relative;
  }
  .z-index1{
    z-index:1;
    position:relative;
  }
  .header h2.logo {
    margin-left: 0px;
  }
  h2.logo-business{
    margin-left: 20px;
  }
  h2.logo {
    text-align: center;

    &.signup span {
      left: 124px;
    }
  }
  .nav-collapse .hr{
    margin-top:15px;
    height: 5px;
  }
  .nav-collapse .nav{
    padding:10px 10px 0 10px;
  }
  .nav-collapse .nav > li > a, .nav-collapse .dropdown-menu a{
    color:#999
  }
  .navbar .btn-navbar{
    margin-right:15px;
    margin-top:15px;
  }
  .profile-form {
    display:block;
    margin:0 40px 15px 40px;
    padding-bottom:1px;
  }
  .login-form {
    margin-left: 0;
  }
  .container{
    padding: 0 10px;;
    &>.content {
      margin:20px auto;
    }

    &>.content.signup {
      width: auto;
      margin:20px;
    }
  }
  .row-fluid .span6 {
    width: 48.93617021276595%;
    display: block;
    float: left;
  }
  .signup{
    .row-fluid{
      .span6{
        &.b-right-dark, &.b-right-light{
          float:left;
        }
        float:none;
      }
    }
    .btn-yellow.w80{
      float:none;
      margin-top:15px;
    }
    input[type="text"], input[type="password"], input[type="email"] {
      width: 310px;
    }
  }
  .btn-red.w230, input[type="submit"].btn-red.w230{
    margin-left:0
  }
  .release-liability{
    img{
      float:none;
    }

    h1{
      clear:both;
      margin-top:25px;
    }
  }
  .row-fluid .span6.photo-upload{
    width:100%;
  }
  .lead-capture{
    h1 {
      font-size: 20px;
      margin: 30px 0;
    }
    .modal-footer{
      padding: 7px;

      .btn{
        padding: 4px 15px;
      }
    }
  }
  .modal.fade.in, .modal {
    top: 50%;
    left: 50%;
    position: fixed;
    width: 300px;
    height: 172px;
    margin-left: -150px;
    margin-top: -100px;
    overflow: visible;
  }
  .release-liability {
    padding: 20px;
  }
  .value {
    height: auto !important
  }
  .account-profile form {
    margin-left: 5%;
  }
  .users-info{
    .form-horizontal .controls {
      margin-left: 0;
    }
    input[type="text"], input[type="email"]{
      width:310px;
    }
    input[type="password"]{
      width:296px;
    }
  }
  .user-info {
    padding: 10px 10px 0 10px;
  }
  .saving-loader{
    top: 35%;
    left: 40%;
  }
  .content-new  h2.logo span {
    left: 130px;
  }

  .hr-vertical, .col-video{
    margin: 0 auto;
    width: 90%;
    float: none;
    h1 { font-size: 20px;}
  }
  .content-new{

    .col-form {
      margin: 0;
      width: 100%;
      .login-form{
        padding: 33px 10px;
        h2.logo {
          font-size: 54px;
          span {
            font-size: 22px;
            left: 101px;
            top: 31px;
          }
        }
      }
      .footer {
        width: 100%;
        padding: 0;
      }
    }
  }

}
/* Portrait phones */
@media (max-width: 320px) {  /* ------------- */

  .wrap{
    padding: 0;
  }

  #wraper{
    width: 240px;
    margin: 0 auto;
  }
  .container_middle{
    padding: 0 5px;
    width: auto;
    h1 { font-size: 18px;}
    h3 {font-size: 15px;}
    p { font-size: 12px;}
  }

  .container { width: auto;}
  .container-middle {
    width: 220px;
    margin: 0 auto;
    .foot-links {
      font-size: 10px;
      a { margin: 0 4px;}
    }
  }

  #content_middle {
    border: 2px solid #FFFFFF;
  }

  .menu {
    margin: 8px 0;
    a { font-size: 10px; padding: 0 3px;}
  }

  .text_div {
    padding: 12px;
    text-align: left;
  }

  .text_right {
    padding: 12px;
    text-align: left;
  }

  .container .social-ad, .container >.content-new {
    width: auto;
  }

  .header {
    min-height: 85px;
    height: auto;
  }
  .header-gradient {
    height: 85px;
  }
  h2.logo {
    font-size: 60px;
    margin-top: 0;
    margin-left: 0;
  }
  h2.logo.signup span {
    left: 102px;
  }
  .wrap{
    padding:0;
    .container > .content {
      padding:0 10px;
      width:320px;
      margin:0 0;
      border:none;
      @include border-radius(0);
      @include box-shadow(none);
    }
    .container > .content.signup {
      width: 320px;
      margin: 0;
    }
    .container.silhouette-bg{
      min-height:auto;
    }
  }

  .hr-vertical, .col-video{
    margin: 0 auto;
    width: 90%;
    float: none;
    h1 { font-size: 20px;}
  }
  .content-new{

    .col-form {
      margin: 0;
      width: 100%;
      .login-form{
        padding: 28px 0  10px 10px;
        h2.logo {
          font-size: 40px;
          span {
            font-size: 14px;
            left: 88px;
            top: 24px;
          }
        }
        input { width: 188px;}
      }
      .footer {
        width: 100%;
        padding: 0;
      }
    }

    .form-button, .hr-width { width: 202px !important;}
  }

  .signup input[type="text"], .signup input[type="password"], .signup input[type="email"] {
    width: 260px;
  }
  .container > .content::after {
    display:none;
  }
  .login-form {
    padding: 15px 23px 0 23px;
  }

  form{
    margin-bottom:10px;
  }
  .row-fluid .span6{
    width:auto;
  }
  .wrap .top-gradient{
    width: 150%;
    position:absolute;
    top:0;
    left: -25%;
    right: 0;
    height: 150px;
    background: -webkit-gradient(radial, top center, 0px, center center, 100%, color-stop(0%,#c79191), color-stop(60%,#650304));
    /*background:-webkit-gradient(radial, 50% 0%, 0, 50% 0%, 150, from(white), color-stop(1, #650304));*/
    background: -webkit-gradient(radial, 50% 0%, 0, 50% 0%, 182, from(white), from(rgba(255, 255, 255, 0.498039)), color-stop(0.95, #650304));
    background: -webkit-radial-gradient(top, ellipse cover,  #C79191 0%,#650304 60%);
    background-repeat: no-repeat;
    background-position: top center;
  }
  .row-fluid .span6.b-right-dark, .row-fluid .span6.b-right-light{
    width: 48.93617021276595%;
  }
  .table-container {
    padding: 10px 10px 15px 10px;
  }
  .app-config .edit_business_config .controls {
    margin-left: 190px;
  }
  .controls .radio:first-child{
    padding-left:0
  }
  .app-config .edit_business_config .controls.m-left0{
    margin-left:0
  }
  h2.logo-business{
    font-size: 45px;
  }
  h2.logo-business span {
    font-size: 18px;
    top: 26px;
    left: 77px;
  }
  .users-info{
    input[type="text"], input[type="email"]{
      width:220px;
    }
    input[type="password"]{
      width:205px;
    }
  }
  .saving-loader{
    left: 33%;
  }
}
