<div class="span9 bg-dark unevenheights">
  <h3 class="page-title align-right"> Products added by website URL </h3>

  <div class="table-container">
    <div class="table-header clearfix">
      <button class="btn btn-small btn-danger pull-right add-product-btn">
        Add Products
      </button>
      <div class="title">
        Products
      </div>
    </div>
    <table class="table">
      <tr class="add-product-row hide">
        <%= render :partial => "add_product" -%>
      </tr>
      <tr>
        <th>URL</th>
        <th>Product Name</th>
        <th>Interested Buyers</th>
        <th>Available Deals</th>
        <th>Edit/Delete</th>
      </tr>
      <% @products.each do |product| -%>
        <tr id="product-<%= product.id -%>">
          <%= render :partial => "product_line", locals: {product: product} -%>
        </tr>
      <% end -%>
    </table>
    <div class="table-footer clearfix">
      <%= paginate @products, :theme => 'mightbuy_theme' -%>
    </div>
  </div>
</div>
